html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D3655A;
}

body {
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #D3655A;
}